body {
    background-color: #20A39E;
    color: #23001E;
    background-image: url("/img/background-for-site.jpeg");
    background-size: cover;
}

.navbar-text-color{
    color: #EF5B5B;
}

h5 {
    margin-left: 4em;
}

.navbar-bg {
    background-color: #23001E;
}

h1, h2, h3, h4 {
    font-family: 'Sriracha', cursive;
    text-align: center;
    margin: auto;
}

.bg-select{
    font-family: 'Sriracha', cursive;
    color: #23001E;
}

.btn-color {
    background-color: #FFBA49
}

.row {
    margin-left: 0;!important;
    margin-right: 0;!important;
}

#results {
    margin: auto;
    width: 80%;
    height: 150px
}

.center {
    text-align: center;
}